.Textbox_box{
display: inline-block;
}

.textbox_box h6{
position: absolute;
width: 368px;
height: 119px;
left: 24px;
/* top: 558px; */


font-family: Poppins;
font-style: normal;
font-weight: bold;
font-size: 27px;
line-height: 40px;
text-align: center;

/* Black */

color: #322D2D;
}

.Textbox_box_par{
position: absolute;
width: 350px;
height: 193px; 
left: 33px;
top: 200px;
padding: 22px;

background: #EDEEEC;
border-radius: 28px;

font-family: 'Lato', sans-serif;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 22px;
text-align: center;
}
