.restartButton {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: bold;
    letter-spacing: 1.2px;
    font-size: 18px;
    text-align: center;
    background: #FF5959;
    color: #FBFBFB;
    border-radius: 30px;
    padding: 12px 24px; 
    display: inline-flex;
    transition: .1s ease-in-out;
    cursor:pointer;
    position: absolute;
    left: 300px;
    top: 19px;
}

.restartButton:hover{
    background-color: #CC4747;
}