.wave{
    position: fixed;
    bottom:0px;
    width: 100%;
    left:0px;
    max-height: 300px;    
    z-index: 0;
}

@media screen and (max-width: 400px){
    .wave{
        bottom:30px;
        transform:scaleY(3);
    }
}