.wave{
    position: fixed;
    bottom:0px;
    width: 100%;
    left:0px;
    max-height: 300px;    
    z-index: 0;
}

@media screen and (max-width: 300px){
    .wave{
        display:none;
        opacity: 0;
    }
}