/* Global Color*/
:root {
  --main-blue: #7dd0ff;
  --main-green: #ceff7d;
  --main-orange: #ffa15c;
  --main-yellow: #fff27d;
  --main-black: #322d2d;
}

/*Fonts + Font Sizes*/
body{
  margin: 0px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--main-black);
  font-family: "Poppins", sans-serif;
  max-width: 500px;
  min-width: 200px;
  width: 100%;
  text-align: center;
}

p {
  font-family: "Lato", sans-serif;
  color: var(--main-black);
}

h1 {
  font-size: 38pt;
  font-weight: 900;
  line-height: 1.2;
  margin: 20px;
}

.subheading {
  text-align: center;
  font-weight: 700;
  font-size: 1.8rem;
  margin-bottom: 0px;
}

.titleText {
  text-align: center;
}

/*Wrappers*/

.app {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}
.app main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 1;
}

body{
  width: 100vw;
}
/* Color Panel */

.two-panel,
.four-panel {
  display: grid;
  grid-gap: 20px;
  width: 90%;
  height: 550px;
  margin: 30px;

}

.two-panel {
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
}

.four-panel {
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
}

.nav-button-layout {
  display: flex;
  width: 90%;
  max-width: 560px;
  margin: 20px 0px 10px 0px;
  justify-content: space-between;
}

.mascot {
  margin: 60px;
}

@media screen and (max-width: 600px){
  h4{
    font-size: 24pt;
  }
  h1{
    margin: 5px;
    font-size: 24pt;
  }
  .subheading{
    font-size: 1.2rem;
  }
  .titleText{
    font-size: 1rem;
  }
  .navBar{
    margin: 0px;
  }
  .four-panel{
    height:auto;
  }
  .two-panel{
    height: 320px;
  }
}
