.logo {
    width: 22%;
    min-width: 150px;
    max-width: 300px;
    padding: 30px 0px 30px; 
}

.nameIcon {
  margin-top: 25px;
}

.subheading {
  margin: 25px;
  line-height: 1rem;
}

@media screen and (max-width: 600px){
    .logo{
      padding: 20px 0px 20px; 
    }
  }
  