.logo {
    width: 22%;
    min-width: 150px;
    padding: 30px 0px 30px; 
}

.nameIcon {
    margin-top: 60px;
}

.subheading {
  margin-top: 50px;
}

.titleText {
  margin-top: 55px;
}



@media screen and (max-width: 600px){
    .logo{
      padding: 10px 0px 20px; 
    }
  }
  