.logo {
    width: 22%;
    min-width: 150px;
    max-width: 300px;
    padding: 30px 0px 30px; 
}

.nameIcon {
  margin-top: 25px;
}

.subheading {
  text-align: center;
  font-weight: 700;
  font-size: 1.8rem;
  margin: 25px;
  line-height: 1rem;
  margin-bottom: 0px;
}

.titleText {
  margin-top: 55px;
  margin-top: 35px;
  text-align: center;
}

.subheading{
  line-height: 1.8rem;
}

@media screen and (max-width: 600px){
    .logo{
      padding: 20px 0px 20px; 
    }
    .subheading{
      font-size: 1.4rem;
      margin: 20px;
    }
    .titleText{
      font-size: 1rem;
      margin-top: 5px;
    }
    .nameIcon{
      margin-top: 0px;
    }
    .homepage{
      justify-content: center;
      height: 100vh;
    }
  }
  